/*@CHARSET "UTF-8";*/

.progress-bar {
    color: #333;
}

/*
Reference:
http://www.bootstrapzen.com/item/135/simple-login-form-logo/
*/

* {
    -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
	 outline: none;
}

.form-control {
  	position: relative;
  	font-size: 18px;
  	height: auto;
	padding: 7px;
}

@include box-sizing(border-box);
&:focus {
  z-index: 2;
}

.hexcel {
	/*background: url(http://i.imgur.com/GHr12sH.jpg) no-repeat center center fixed;*/
	background: url(/images/fiber3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	 /*margin-bottom: 0 !important;
	 height: 100% !important;
	 padding: 0 !important;*/
}

.dashboard {
	/*background: */
}

.login-button {
	background: transparent !important;
	border: none;
}

.login-button:hover {
	/*background: rgba(50, 56, 163, 0.5) !important;*/
	background: rgba(39, 55, 131, 0.4) !important;
}

.login-form {
	margin: 30% 0 20% 0;
}

input[type="submit"] {
    font-family: FontAwesome;
}

/*#login-input {

}
background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
padding-left:30px;*/

form[role=login] {
	color: #77ace2;
	background: transparent;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
	font-size: 1.25em;
	margin: 16px 0;
}

form[role=login] > div {
	text-align: center;
}

.login-input {
	font-size: 2em;
	background: transparent;
	color: white;
	border: 1px solid rgba(130, 130, 130, 0.5) !important;
}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
	font-weight: bold;
	font-size: 1em;
}

.form-links a {
	color: rgba(175, 175, 175, 0.5);
	text-decoration: none;
}

.form-links a:hover {
	color: grey;
}
