<template name="callOrTicket">
	<div style="margin: 0 auto; position:relative;" class="center-div" id="js-call-or-ticket-form">
		<!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"> -->
			<div class="x_panel">
				<div class="x_title">
					<h2>Create an incident</h2>
			<div class="clearfix"></div>

		  </div>
		  <div class="x_content">
			 <br />
			<div class="radio">
				 <label class="">
					 <div class="iradio_flat-green" >
						 <input type="radio" id="js-radio-ticket" class="flat" name="iCheck">
						 <!-- <ins class="iCheck-helper"></ins> -->
					 </div> from a ticket
				 </label>
			 </div>
			 <br />
			<div class="radio" >
				 <label class="" >
					 <div class="iradio_flat-green"  >
						 <input type="radio" id="js-radio-call" class="flat" name="iCheck">
						 <!-- <ins class="iCheck-helper" ></ins> -->
					 </div> from a call
				 </label>
			 </div>
				<div class="ln_solid"></div>
		  </div>
		</div>

	</div>
	<!-- <div style="margin: 0 auto; text-align: center;">
		<button type="submit" class="btn info-btn btn-btn disabled" name="next" id="js-call-or-ticket-button">NEXT</button>
	</div> -->
</template>
