<template name="createMajorIncident">
	<div class="container">
		<h3>Create a major incident notification</h3>
		<hr />
		<div class="">
			{{> UI.dynamic template=getMajorIncidentSteps}}
		</div>
	</div>
</template>

<template name="callerInfo">
	<div class="center-div" role="main" style="margin: 0 auto; position:relative;">
		<!-- <div class="row"> -->
			<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"> -->
				<div class="x_panel">
					<div class="x_title">
						<h2>Caller </h2>

				 <div class="clearfix"></div>
			  </div>
			  <div class="x_content">
				 <br />
				 <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

					<div class="form-group">
					  <div class="col-xs-12">
						 <input type="text" autofocus id="name" required="required" placeholder="Name" class="form-control col-md-7 col-xs-12">
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-xs-12">
						 <input type="text" id="phone-number" name="phone-number" placeholder="Phone number" required="required" class="form-control col-md-7 col-xs-12">
					  </div>
					</div>
					<div class="form-group">
					  <div class="col-xs-12">
						  <div class="row">
							  <div class="col-xs-6">
								  <input id="department" class="form-control col-md-7 col-xs-12" placeholder="department" required="required" type="text">
							  </div>
							  <div class="col-xs-6">
								  <input id="building-number" class="form-control col-md-7 col-xs-12" placeholder="Building number" required="required" type="text">
							  </div>
						  </div>
					  </div>
					</div>
					<div class="ln_solid"></div>
				 </form>
			  </div>
			</div>
		<div style="margin: 0 auto; text-align: center;">
			<button type="submit" class="btn info-btn btn-btn disabled" name="next" id="js-caller-button">NEXT</button>
		</div>
 </div>
</template>

<template name="incidentDescription">
		 <!-- <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> -->
			 <div class="x_panel">
				 <div class="x_title">
						 <h2>Incident Description </h2>

						 <div class="clearfix"></div>
					  </div>
					  <div class="x_content">
					  <br />
					  <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
						  <div class="row">
							  <div class="col-sm-6 col-xs-12">
									 <div class="form-group">
					 					  <div class="col-xs-12">
					 						 <input id="site-name" placeholder="Site name" class="form-control col-md-7 col-xs-12" type="text" name="site-name">
					 					  </div>
				 					</div>
									<div class="form-group">
									  <div class="col-xs-12">
										 <input type="text" id="incident-type" placeholder="Incident type" required="required" class="form-control col-md-7 col-xs-12">
									  </div>
									</div>
									<div class="form-group" style="margin-bottom: 0; padding-bottom: 0;">
									  <div class="col-xs-12">
										 <input type="text" id="status" name="status" required="required" placeholder="Status/State" class="form-control col-md-7 col-xs-12">
									  </div>
									</div>
								</div>
								<div class="col-sm-6 col-xs-12" >
									<div class="form-group">
										<div class="col-xs-12">
											<input type="text" id="scope" name="scope" required="required" placeholder="Scope" class="form-control col-md-7 col-xs-12">
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-12">
											<input type="text" id="start-time" name="start-time" required="required" placeholder="Start time" class="form-control col-md-7 col-xs-12">
										</div>
									</div>
								</div>
							</div>
							<div class="ln_solid"></div>
						</form>
					</div>

				</div>
			<!-- </div>
		</div>
	</div> -->
	<div style="margin: 0 auto; text-align: center;">
		<button type="submit" class="btn info-btn btn-btn disabled" name="next" id="js-call-or-ticket-button">NEXT</button>
	</div>
</template>

<template name="callIssue">
  <h4>Incident Description</h4>
  <div class="row">
    {{> affectedService}}
    {{> impact}}
    {{> scope}}
    {{> incidentNumber}}
  </div>
</template>

<template name="affectedService">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
      <div class="form-group">
        <select class="form-control" id="affected-service">
            {{#each getAffectedService}}
              <option value="{{value}}" id='service-selected-{{value}}'>{{form}}</option>
            {{/each}}
        </select>
      </div>
    </div>
</template>

<template name="impact">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <div class="form-group">
      <select class="form-control" id="impact">
        <option value="impact" id=''>Select impact</option>
        <option value="downWithWorkaround" id='impact-with-workaround'>Down with workaround</option>
        <option value="downWithNoWorkaround" id='impact-with-no-workaround'>Down with no workaround</option>
      </select>
    </div>
  </div>
</template>

<template name="scope">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <div class="form-group">
      <select class="form-control" id="impact">
        <option value="impact" id=''>Select scope</option>
        <option value="" id=''>Global</option>
        <option value="" id=''>Sitewide</option>
        <option value="" id=''>Less than 10 employees</option>
        <option value="" id=''>Between 10 and 20 employees</option>
        <option value="" id=''>Between 20 and 30 employees</option>
        <option value="" id=''>Between 30 and 40 employees</option>
        <option value="" id=''>Between 40 and 50 employees</option>
        <option value="" id=''>Between 50 and 60 employees</option>
        <option value="" id=''>Between 60 and 70 employees</option>
        <option value="" id=''>Between 70 and 80 employees</option>
        <option value="" id=''>Between 80 and 90 employees</option>
        <option value="" id=''>Between 90 and 100 employees</option>
      </select>
    </div>
  </div>
</template>

<template name="incidentNumber">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <input type="text" class="form-control" id="incident-number" placeholder="Incident number" aria-describedby="incidentNumber" required>
  </div>
</template>

<template name="pForms">
  {{> UI.dynamic template=getSelectedPform}}
</template>

<template name="ftpcgrip">
  <form id="js-ftpcgrip-form">
    <hr>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input type='text' class="form-control" id='datetimepicker' placeholder="When did the issue start?" required/>
            <input type='text' class="form-control" name='batchNumber' placeholder="What is the batch/lot number?" required/>
            <input type='text' class="form-control" name='batchNumber' placeholder="What was the last batch/lot completed?" required/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <select class="form-control" id="select-line">
                <option value="">Which line?</option>
                <option value="line-1" id='line1'>Line 1</option>
                <option value="line-2" id='line2'>Line 2</option>
                <option value="line-3" id='line3'>Line 3</option>
                <option value="line-4" id='line4'>Line 4</option>
                <option value="line-5" id='line5'>Line 5</option>
                <option value="line-6" id='line6'>Line 6</option>
              </select>
            <input type='text' class="form-control" name='orderNumber' placeholder="What is the current order number?" required/>
            <input type='text' class="form-control" name='lastOrderCompleted' placeholder="What was the last order completed?" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p><pre>Is this affecting production?</pre></p>
            <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
            <label class="radio-inline"><input type="radio" name="optradio">No</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <select class="form-control" id="select-line">
              <option value="">Is this the first to run this order/recipe?</option>
              <option value="yes" id=''>Yes</option>
              <option value="no" id=''>No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <textarea name="title" class="form-control" placeholder="Title of the issue" required></textarea>
        <textarea name="detailedDescription" class="form-control" placeholder="Detailed description of the issue" required></textarea>
        {{#if isWorkaround}}
          <textarea name="name" class="form-control" placeholder="Enter workaround?" required></textarea>
        {{/if}}
      </div>
    </div>
    <hr>
    <h4>Actions</h4>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>Have you followed troubleshooting steps?</p>
        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
        <label class="radio-inline"><input type="radio" name="optradio">No</label>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>Have you taken screenshots?</p>
        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
        <label class="radio-inline"><input type="radio" name="optradio">No</label>
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>Call and text these guys</h4>
        <p><code>On call managers:</code></p>
        <div class="checkbox">
          <label class="checkbox-inline"><input type="checkbox" value="">David Clarke</label>
          <label class="checkbox-inline"><input type="checkbox" value="">David Dunford</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Joe Bernhard</label>
        </div>
        <p><CODE>Support:</CODE></p>
          <span class="label label-default">ERP</span><br />
          <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="">Kevin Westphal</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Gina Adams</label>
          </div>
          <span class="label label-primary">MES</span><br />
          <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="">Gabriel Chandonia</label>
          </div>
          <span class="label label-info">Infrastructure</span>
          <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="">Michael Fox</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Justin Salin</label>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>Who else should know about this</h4>
        <div class="checkbox">
          <label class="checkbox-inline"><input type="checkbox" value="">Send notification to Matrix supervisors/managers </label>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <button type="submit" id="js-submit-ftpcgrip" class="btn btn-success">Submit</button>
    </div>
  </form>
</template>

<template name="notification">

</template>
