<template name="leftMenuBlock">
	<!-- Left Menu -->
	<div class="col-md-3 left_col" style="padding-left: 10px;">
		<div >
	   <div class="left_col scroll-view ">
		  <div class="navbar nav_title" style="border: 0; background-color: transparent;">
			 <a href="/dashboard" class="site_title" style="margin-bottom: 0px; padding-bottom: 0px;">
				 <img src="/images/logo/logo-white.png" alt="Hexcel Logo"
				 	id="main-logo" class="img-responsive center-block logo"
					style="padding-bottom: 0px; margin-top: 6px; vertical-align: middle;">
			 </a>
		  </div>

		  <div class="clearfix"></div>

		  {{> menuProfileInfo}}
		  <br />
		  {{> sideMenu}}
		  <!-- {{> footerButtons}} -->

	   </div>
	</div>
</div>
	<!-- Left Menu -->
</template>
