<template name="login">
	<div class="container">
	  <div class="row" id="pwd-container">
	    <div class="col-md-3"></div>
	    <div class="col-md-6">
			 <section class="login-form">
	        <form method="post" action="#" role="login">
		          <img src="/images/logo1.png" class="img-responsive" alt="" />
		         <input type="email" name="email" id="login-username" placeholder="&#x1F47D;" required class="form-control login-input input-lg"/>

		         <input type="password" id="login-password" class="form-control input-lg login-input" placeholder="&#x1F512;" required="" />

		          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block login-button">Sign in</button>
		          <!-- <div>
		            	<a href="#">Create account</a> or <a href="#">reset password</a>
		          </div> -->
	        </form>

	        <div class="form-links">
	          <a href="http://chicbl182/sites/ITDept/ITIL/IncidentManagement/SitePages/Home.aspx?RootFolder=%2Fsites%2FITDept%2FITIL%2FIncidentManagement%2FShared%20Documents%2FMIM%20Process%2FMIM%20Communication%20Templates&FolderCTID=0x01200084CCA99E56E13D4A8B20234141196138&View={9CF8D9A6-175B-4E57-94C2-EE1DB7B87F5A}">
					 ITIL Templates
				 </a>
	        </div>
	      </section>
	      </div>
	      <div class="col-md-3"></div>
	  </div>
	</div>
</template>
