<template name="userInfo">
  <div class="container">
    <h2>Major incident notice</h2>
    <hr>
    <div class="container">
      {{> callerInfo}}
      <br>
      {{> callIssue}}
    </div>
	 <a href="javascript:void(0)" class="btn btn-raised btn-info">Info</a>
    <div class="container">
      {{> pForms}}
    </div>
  </div>
</template>

<template name="callerInfo">
	<!-- <div class="container-fluid">
	 	<h4>Who is calling</h4>
	  	<div class="row">
	    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
			 <div class="x_panel">
				 <input type="text" class="form-control" id="caller-name" placeholder="Caller's name" aria-describedby="callerName" required>
			 </div>
	    </div>
	    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	      <input type="tel" pattern='[\+]\d{3}[\(]\d{2}[\)]\d{4}[\-]\d{4}' class="form-control" id="caller-phone" placeholder="Phone#"
	          aria-describedby="callerPhone" required>
	    </div>
	    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	      <input type="text" class="form-control" id="caller-site" placeholder="Site" aria-describedby="callerSite" required>
	    </div>
	    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
	      <div class="row">
	        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	          <input type="text" class="form-control" id="caller-building" placeholder="Building" aria-describedby="callerBuilding" required>
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	          <input type="text" class="form-control" id="caller-depart" placeholder="Department" aria-describedby="callerDepart" required>
	        </div>
	      </div>

	    </div>
	  </div>
  </div> -->

  <div class="right_col" role="main">
			<div class="">
			  <div class="page-title">
				 <div class="title_left">
					<h3>Major incident notice</h3>
				 </div>

				 <div class="title_right">
					<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
					  <div class="input-group">
						 <input type="text" class="form-control" placeholder="Search for...">
						 <span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						 </span>
					  </div>
					</div>
				 </div>
			  </div>
			  <div class="clearfix"></div>
			  <div class="row">
				 <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
					  <div class="x_title">
						 <h2>Caller </h2>
						 <ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown">
							  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
							  <ul class="dropdown-menu" role="menu">
								 <li><a href="#">Settings 1</a>
								 </li>
								 <li><a href="#">Settings 2</a>
								 </li>
							  </ul>
							</li>
							<li><a class="close-link"><i class="fa fa-close"></i></a>
							</li>
						 </ul>
						 <div class="clearfix"></div>
					  </div>
					  <div class="x_content">
						 <br />
						 <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

							<div class="form-group">
							  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
							  </label>
							  <div class="col-md-6 col-sm-6 col-xs-12">
								 <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
							  </label>
							  <div class="col-md-6 col-sm-6 col-xs-12">
								 <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
							  </div>
							</div>
							<div class="form-group">
							  <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
							  <div class="col-md-6 col-sm-6 col-xs-12">
								 <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
							  <div class="col-md-6 col-sm-6 col-xs-12">
								 <div id="gender" class="btn-group" data-toggle="buttons">
									<label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
									  <input type="radio" name="gender" value="male"> &nbsp; Male &nbsp;
									</label>
									<label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
									  <input type="radio" name="gender" value="female"> Female
									</label>
								 </div>
							  </div>
							</div>
							<div class="form-group">
							  <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
							  </label>
							  <div class="col-md-6 col-sm-6 col-xs-12">
								 <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
							  </div>
							</div>
							<div class="ln_solid"></div>
							<div class="form-group">
							  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
								 <button class="btn btn-primary" type="button">Cancel</button>
						 <button class="btn btn-primary" type="reset">Reset</button>
								 <button type="submit" class="btn btn-success">Submit</button>
							  </div>
							</div>

						 </form>
					  </div>
					</div>
				 </div>
			  </div>


	  </div>
   </div>

</template>

<template name="callIssue">
  <h4>Incident Description</h4>
  <div class="row">
    {{> affectedService}}
    {{> impact}}
    {{> scope}}
    {{> incidentNumber}}
  </div>
</template>

<template name="affectedService">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
      <div class="form-group">
        <select class="form-control" id="affected-service">
            {{#each getAffectedService}}
              <option value="{{value}}" id='service-selected-{{value}}'>{{form}}</option>
            {{/each}}
        </select>
      </div>
    </div>
</template>

<template name="impact">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <div class="form-group">
      <select class="form-control" id="impact">
        <option value="impact" id=''>Select impact</option>
        <option value="downWithWorkaround" id='impact-with-workaround'>Down with workaround</option>
        <option value="downWithNoWorkaround" id='impact-with-no-workaround'>Down with no workaround</option>
      </select>
    </div>
  </div>
</template>

<template name="scope">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <div class="form-group">
      <select class="form-control" id="impact">
        <option value="impact" id=''>Select scope</option>
        <option value="" id=''>Global</option>
        <option value="" id=''>Sitewide</option>
        <option value="" id=''>Less than 10 employees</option>
        <option value="" id=''>Between 10 and 20 employees</option>
        <option value="" id=''>Between 20 and 30 employees</option>
        <option value="" id=''>Between 30 and 40 employees</option>
        <option value="" id=''>Between 40 and 50 employees</option>
        <option value="" id=''>Between 50 and 60 employees</option>
        <option value="" id=''>Between 60 and 70 employees</option>
        <option value="" id=''>Between 70 and 80 employees</option>
        <option value="" id=''>Between 80 and 90 employees</option>
        <option value="" id=''>Between 90 and 100 employees</option>
      </select>
    </div>
  </div>
</template>

<template name="incidentNumber">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
    <input type="text" class="form-control" id="incident-number" placeholder="Incident number" aria-describedby="incidentNumber" required>
  </div>
</template>

<template name="pForms">
  {{> UI.dynamic template=getSelectedPform}}
</template>

<template name="ftpcgrip">
  <form id="js-ftpcgrip-form">
    <hr>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <input type='text' class="form-control" id='datetimepicker' placeholder="When did the issue start?" required/>
            <input type='text' class="form-control" name='batchNumber' placeholder="What is the batch/lot number?" required/>
            <input type='text' class="form-control" name='batchNumber' placeholder="What was the last batch/lot completed?" required/>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <select class="form-control" id="select-line">
                <option value="">Which line?</option>
                <option value="line-1" id='line1'>Line 1</option>
                <option value="line-2" id='line2'>Line 2</option>
                <option value="line-3" id='line3'>Line 3</option>
                <option value="line-4" id='line4'>Line 4</option>
                <option value="line-5" id='line5'>Line 5</option>
                <option value="line-6" id='line6'>Line 6</option>
              </select>
            <input type='text' class="form-control" name='orderNumber' placeholder="What is the current order number?" required/>
            <input type='text' class="form-control" name='lastOrderCompleted' placeholder="What was the last order completed?" required/>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p><pre>Is this affecting production?</pre></p>
            <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
            <label class="radio-inline"><input type="radio" name="optradio">No</label>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <select class="form-control" id="select-line">
              <option value="">Is this the first to run this order/recipe?</option>
              <option value="yes" id=''>Yes</option>
              <option value="no" id=''>No</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <textarea name="title" class="form-control" placeholder="Title of the issue" required></textarea>
        <textarea name="detailedDescription" class="form-control" placeholder="Detailed description of the issue" required></textarea>
        {{#if isWorkaround}}
          <textarea name="name" class="form-control" placeholder="Enter workaround?" required></textarea>
        {{/if}}
      </div>
    </div>
    <hr>
    <h4>Actions</h4>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>Have you followed troubleshooting steps?</p>
        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
        <label class="radio-inline"><input type="radio" name="optradio">No</label>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <p>Have you taken screenshots?</p>
        <label class="radio-inline"><input type="radio" name="optradio">Yes</label>
        <label class="radio-inline"><input type="radio" name="optradio">No</label>
      </div>
    </div>
    <hr>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>Call and text these guys</h4>
        <p><code>On call managers:</code></p>
        <div class="checkbox">
          <label class="checkbox-inline"><input type="checkbox" value="">David Clarke</label>
          <label class="checkbox-inline"><input type="checkbox" value="">David Dunford</label>
          <label class="checkbox-inline"><input type="checkbox" value="">Joe Bernhard</label>
        </div>
        <p><CODE>Support:</CODE></p>
          <span class="label label-default">ERP</span><br />
          <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="">Kevin Westphal</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Gina Adams</label>
          </div>
          <span class="label label-primary">MES</span><br />
          <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="">Gabriel Chandonia</label>
          </div>
          <span class="label label-info">Infrastructure</span>
          <div class="checkbox">
            <label class="checkbox-inline"><input type="checkbox" value="">Michael Fox</label>
            <label class="checkbox-inline"><input type="checkbox" value="">Justin Salin</label>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>Who else should know about this</h4>
        <div class="checkbox">
          <label class="checkbox-inline"><input type="checkbox" value="">Send notification to Matrix supervisors/managers </label>
        </div>
      </div>
    </div>
    <hr>
    <div class="form-group">
      <button type="submit" id="js-submit-ftpcgrip" class="btn btn-success">Submit</button>
    </div>
  </form>
</template>

<template name="notification">

</template>
